.text-field {
  padding-bottom: 12px;
  position: relative;
}

.text-field label {
  cursor: text;
  position: absolute; top: 7px; left: 12px;
  transition: all 250ms ease;
}

.text-field .form-control::-webkit-input-placeholder {
  color: #fff;
  transition: all 250ms ease;
}

.text-field .form-control:focus::-webkit-input-placeholder {
  color: #aaa;
}

.text-field .form-control:focus + label,
.text-field .form-control:valid + label {
  top: -16px;
}
